.grid-cointainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: max(calc((100% - (7 * 159px)) / 7), 20px);
  row-gap: 20px;
  padding: 8px;
}

.title-bar {
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.title {
  color: var(--css-white);

  font-weight: 600;
  height: 30px;
}

.show-all-btn {
  color: var(--css-primary);
}
