* {
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --css-primary: #34c94b;
  --css-black: #121212;
  --css-white: #fff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
